<h4>{{model.name}}</h4>
<br>
{{#wish-list
    wishList=wishList}}
    {{debugger}}
{{/wish-list}}
<br>
<p>Capital: {{model.capital}}</p>
{{#if model.isTheBest}}
  <p>{{model.name}} forever.</p>
{{/if}}
{{outlet}}